body {
    background-color: black;
}

input {
    max-width: fit-content;
}

.main-content h1, .main-content #second, .main-content .login-container {
    text-align: center;
}

.login-container {
    color: white;
}

.login-form {
    margin-top: 20px;
}

.login-form div {
    margin-bottom: 10px;
}

.login-form label {
    display: block;
    color: black; /* Change the label color if needed */
}

.login-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    margin-top: 10px;
    background-color: #24C807;
    color: white;
    border: 1px solid black;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #1F9105;
}

.forgot-button {
    background: none;
    border: none;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

#secondsecond{
    margin-right: 6px; background-color:white; border: 1px solid black;transition: background-color 0.6s ease-in-out;
}

#secondsecond:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}