<br/>
<br/>
<div class="wholecontainer">
    <mat-icon routerLink="/login" aria-label="Back" id="back">keyboard_backspace</mat-icon>
    <h2 class="mb-4" style="color: black;">Registration</h2>
    <form (submit)="registerUser()">
        <div class="form-group">
            <label for="clientTitle" style="color: black;">Title:</label>
            <input type="text" class="form-control" id="clientTitle" name="clientTitle" [(ngModel)]="user.clientTitle" required>
        </div>
        <div class="form-group">
            <label for="clientName" style="color: black;">Name:</label>
            <input type="text" class="form-control" id="clientName" name="clientName" [(ngModel)]="user.clientName" required>
        </div>
        <div class="form-group">
            <label for="clientSurName" style="color: black;">Surname:</label>
            <input type="text" class="form-control" id="clientSurName" name="clientSurName" [(ngModel)]="user.clientSurname" required>
        </div>
        <div class="form-group">
            <label for="phonenumber" style="color: black;">Phone Number:</label>
            <input type="text" class="form-control" id="phonenumber" name="phonenumber" [(ngModel)]="user.clientPhoneNum" required>
        </div>
        <div class="form-group">
            <label for="physcAddress" style="color: black;">Physical Address:</label>
            <input type="text" class="form-control" id="physcAddress" name="physcAddress" [(ngModel)]="user.clientPhysicalAddress" required>
        </div>
        <div class="form-group">
            <label for="clientDateOfBirth">Date of Birth:</label>
            <input type="date" class="form-control" id="clientDateOfBirth"
                   [(ngModel)]="user.clientDateOfBirth" name="clientDateOfBirth" required
                   [max]="getTwoYearsAgo() | date: 'yyyy-MM-dd'">
        </div>
        <div class="form-group">
            <label for="email" style="color: black;">Email:</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.emailAddress" required>
        </div>
        <div class="form-group">
            <label for="password" style="color: black;">New Password:</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required>
        </div>
        <br/>
        <div class="form-group">
            <button type="submit" id="submit" class="btn btn-primary" [disabled]="loading" >Register</button>
        </div>
    </form>
</div>
