.document-container {
    text-align: center;
  }

  mat-icon:hover {
    cursor: pointer;
  }

  .circular-button {
    border-radius: 50%;
    overflow: hidden;
    width: 40px; /* Adjust the width and height to your desired size */
    height: 40px;
  }

  .circular-button:hover{
    cursor: pointer;
  }
  
  .circular-button img {
    width: 100%; /* Make the image fill the circular boundary */
    height: 100%; /* Make the image fill the circular boundary */
    object-fit: cover; /* Preserve the image aspect ratio */
  }
  
  a.nav-link.active:hover,
a.nav-link[aria-current='page']:hover {
  cursor: pointer;
}

.download-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0edb3a; /* Blue color, you can change it to your preferred color */
    color: #fff; /* White text color */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
  }
  
  .download-btn:hover {
    background-color: black; /* Darker shade of blue on hover */
  }

  